body {
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(237, 229, 229);
    font-family: 'Acme', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 3px 5px rgb(244, 107, 107);

}

/* Container for the search box */
.search-container {
    background: linear-gradient(135deg,
            rgba(191, 57, 137, 1) 0%,
            rgba(9, 107, 222, 1) 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 8px;
    width: 300px;
    border-radius: 28px;
    margin-bottom: 15px;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px;
}

.search-input {
    border: none;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    color: #333;
    outline: none;
    border-radius: 20px;

}

.search-button {
    background-color: #007bff;
    /* color: #fff; */
    background: linear-gradient(135deg,
    rgba(191, 57, 137, 1) 0%,
    rgba(9, 107, 222, 1) 100%);
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 8px;
    font-size: 15px;
}

.search-button:hover {
    background-color: #0056b3;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Common box style for dynamically added boxes */
.box {
    /* background-color: rgb(196 67 102); */
    display: inline-block;
    width: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    background: linear-gradient(135deg,
            rgba(191, 57, 137, 1) 0%,
            rgba(9, 107, 222, 1) 100%);
}

.box::before,
.box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg,
            #ff0000, #00f0f0, #00ff00, #0000ff,
            #ff0000, #00f0f0, #00ff00, #0000ff,
            #f00f0f);
    width: 100%;
    height: 100%;
    background-size: 500%;
    z-index: -1;
    transform: scale(1.02);
    animation: animate 20s infinite;
    border-radius: 20px;
}

.box:after {
    filter: blur(20px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#image {
    max-width: 100%;
    height: auto;
    border-radius:15px;
}

.highlighted {
    background-color: yellow;
}

.box label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.box input {
    width: 100%;
    padding: 5px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    .container {
        padding: 10px;
    }

    .search-container {
        width: 80%;
    }

    .search-input {
        width: 70%;
    }

    .search-button {
        margin-left: 10px;
    }

    .box {
        width: calc(100% - 20px);
    }
}
